<h1 id="Titulo" class="text-body">Bienvenido a HomeProduct</h1>        


 <form action="/home/index" >
     <div class="col-6">
         <div class="input-group input-group-sm mb-3">
          <button type="submit" class="btn btn-outline-dark">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
          </button>
          <input type="text" name="filtro" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
     </div>
     <div class="col-6">
         <strong >
                 <p class="text-dark">Buscar por Name y Price</p>
         </strong>
     </div>
  </form>
    
<table class="mt-4 table table-hover">
    <caption>Product Results 2022</caption>
              <thead class="thead-light">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Stock</th>
                  <th scope="col">Price</th>
                  <th scope="col">Fecha Prod</th>
                  <th scope="col">Fecha Venv</th>
                </tr>
              </thead>
              <tbody>
               @foreach (var item in Model){
                <tr>
                  
                  <td>@item.Name</td>
                  <td>@item.Stock</td>
                  <td>@item.Price</td>
                  <td>@item.DateProd</td>
                  <td>@item.DateVenc</td>
                  
                </tr>
               }
         </tbody>
</table>
    
<table class="mt-4 table table-hover">
    <caption>Usuarios Results 2022</caption>
              <thead class="thead-light">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">name</th>
                </tr>
              </thead>
              <tbody>
               @foreach (var item in  ViewBag.Usuarios){
                <tr>
                  
                  <td>@item.Id</td>
                  <td>@item.Nombre</td> 
                </tr>
               }
         </tbody>
</table>

